{% extends "base.html" %}

{% block main_content %}

{%- set title = macros_translate::translate(key="all_tags", default="All tags", language_strings=language_strings) -%}

{{ macros_page_header::page_header(title=title) }}

{% if config.extra.tag_sorting == "frequency" %}
    {% set terms = terms | sort(attribute="pages") | reverse %}
{% endif %}

<div id="tag-cloud">
    <ul class="tags">
        {%- for term in terms -%}
            <li class="tags-item">
                <a href="{{ term.permalink | safe }}">{{ term.name }}</a>
                <sup>{{ term.pages | length }}</sup>
            </li>
        {%- endfor -%}
    </ul>
</div>

{% endblock main_content %}
